monitor-server/src/main/java/cn/com/yangshj/monitor/webservice/event/event.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="EventServiceDevImpl" targetNamespace="http://impl.event.dev.bsm.mocha.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.event.dev.bsm.mocha.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.event.dev.bsm.mocha.com/" xmlns:ns0="http://obj.dev.bsm.mocha.com" xmlns:tns="http://impl.event.dev.bsm.mocha.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://obj.dev.bsm.mocha.com"/>
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActiveEventCountByServerTime" type="tns:getActiveEventCountByServerTime"/>
<xsd:complexType name="getActiveEventCountByServerTime">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element name="moduleId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element name="eventGroupId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="timeMills" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActiveEventCountByServerTimeResponse" type="tns:getActiveEventCountByServerTimeResponse"/>
<xsd:complexType name="getActiveEventCountByServerTimeResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:EventCountObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getHistoryEventCountByClientTime" type="tns:getHistoryEventCountByClientTime"/>
<xsd:complexType name="getHistoryEventCountByClientTime">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element name="moduleId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element name="eventGroupId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="startTime" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="endTime" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getHistoryEventCountByClientTimeResponse" type="tns:getHistoryEventCountByClientTimeResponse"/>
<xsd:complexType name="getHistoryEventCountByClientTimeResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:EventCountObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActiveEventListByClientTime" type="tns:getActiveEventListByClientTime"/>
<xsd:complexType name="getActiveEventListByClientTime">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element name="moduleId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element name="eventGroupId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="startTime" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="endTime" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="pageSize" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="currentPage" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActiveEventListByClientTimeResponse" type="tns:getActiveEventListByClientTimeResponse"/>
<xsd:complexType name="getActiveEventListByClientTimeResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:ArrayOfEventListObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getHistoryEventListByServerTime" type="tns:getHistoryEventListByServerTime"/>
<xsd:complexType name="getHistoryEventListByServerTime">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element name="moduleId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element name="eventGroupId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="pageSize" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="currentPage" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="timeMills" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getHistoryEventListByServerTimeResponse" type="tns:getHistoryEventListByServerTimeResponse"/>
<xsd:complexType name="getHistoryEventListByServerTimeResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:ArrayOfEventListObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActiveEventListByServerTime" type="tns:getActiveEventListByServerTime"/>
<xsd:complexType name="getActiveEventListByServerTime">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element name="moduleId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element name="eventGroupId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="pageSize" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="currentPage" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="timeMills" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActiveEventListByServerTimeResponse" type="tns:getActiveEventListByServerTimeResponse"/>
<xsd:complexType name="getActiveEventListByServerTimeResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:ArrayOfEventListObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActiveEventCountByClientTime" type="tns:getActiveEventCountByClientTime"/>
<xsd:complexType name="getActiveEventCountByClientTime">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element name="moduleId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element name="eventGroupId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="startTime" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="endTime" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getActiveEventCountByClientTimeResponse" type="tns:getActiveEventCountByClientTimeResponse"/>
<xsd:complexType name="getActiveEventCountByClientTimeResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:EventCountObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryRules" type="tns:queryRules"/>
<xsd:complexType name="queryRules">
<xsd:sequence>
<xsd:element minOccurs="0" name="platformKey" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="queryRulesResponse" type="tns:queryRulesResponse"/>
<xsd:complexType name="queryRulesResponse">
<xsd:sequence>
<xsd:element name="return" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getHistoryEventListByClientTime" type="tns:getHistoryEventListByClientTime"/>
<xsd:complexType name="getHistoryEventListByClientTime">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element name="moduleId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element name="eventGroupId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="startTime" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="endTime" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="pageSize" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="currentPage" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getHistoryEventListByClientTimeResponse" type="tns:getHistoryEventListByClientTimeResponse"/>
<xsd:complexType name="getHistoryEventListByClientTimeResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:ArrayOfEventListObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getHistoryEventCountByServerTime" type="tns:getHistoryEventCountByServerTime"/>
<xsd:complexType name="getHistoryEventCountByServerTime">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element name="moduleId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element name="eventGroupId" nillable="true" type="tns:ArrayOfString"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="timeMills" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="getHistoryEventCountByServerTimeResponse" type="tns:getHistoryEventCountByServerTimeResponse"/>
<xsd:complexType name="getHistoryEventCountByServerTimeResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:EventCountObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="send" type="tns:send"/>
<xsd:complexType name="send">
<xsd:sequence>
<xsd:element minOccurs="0" name="event" type="ns0:EventObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendResponse" type="tns:sendResponse"/>
<xsd:complexType name="sendResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://obj.dev.bsm.mocha.com" xmlns:ns0="http://impl.event.dev.bsm.mocha.com/" xmlns:tns="http://obj.dev.bsm.mocha.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://impl.event.dev.bsm.mocha.com/"/>
<xsd:complexType name="ArrayOfEventListObj">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="EventListObj" nillable="true" type="tns:EventListObj"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EventListObj">
<xsd:sequence>
<xsd:element minOccurs="0" name="confirmDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="domain" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="eventId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="instanceId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="ipAddress" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="isLink" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="level" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="levelColor" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="loginResult" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="moduleId" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="objectTypeName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="occurDate" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="platform" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EventCountObj">
<xsd:sequence>
<xsd:element minOccurs="0" name="eventCount" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="loginResult" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="EventObj">
<xsd:sequence>
<xsd:element minOccurs="0" name="alarmRuleId" nillable="true" type="ns0:ArrayOfString"/>
<xsd:element minOccurs="0" name="dependencySystem" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="eventType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstTime" type="xsd:long"/>
<xsd:element minOccurs="0" name="ipAddress" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="objectName" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="objectType" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="serverity" type="xsd:int"/>
<xsd:element minOccurs="0" name="suppid" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getActiveEventCountByServerTime">
    <wsdl:part element="tns:getActiveEventCountByServerTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="send">
    <wsdl:part element="tns:send" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActiveEventListByClientTimeResponse">
    <wsdl:part element="tns:getActiveEventListByClientTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryRules">
    <wsdl:part element="tns:queryRules" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryEventListByClientTimeResponse">
    <wsdl:part element="tns:getHistoryEventListByClientTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryEventListByServerTimeResponse">
    <wsdl:part element="tns:getHistoryEventListByServerTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryEventListByServerTime">
    <wsdl:part element="tns:getHistoryEventListByServerTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendResponse">
    <wsdl:part element="tns:sendResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryEventCountByClientTimeResponse">
    <wsdl:part element="tns:getHistoryEventCountByClientTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActiveEventCountByClientTimeResponse">
    <wsdl:part element="tns:getActiveEventCountByClientTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActiveEventCountByClientTime">
    <wsdl:part element="tns:getActiveEventCountByClientTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActiveEventCountByServerTimeResponse">
    <wsdl:part element="tns:getActiveEventCountByServerTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryRulesResponse">
    <wsdl:part element="tns:queryRulesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActiveEventListByServerTime">
    <wsdl:part element="tns:getActiveEventListByServerTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryEventCountByServerTimeResponse">
    <wsdl:part element="tns:getHistoryEventCountByServerTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryEventCountByServerTime">
    <wsdl:part element="tns:getHistoryEventCountByServerTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryEventListByClientTime">
    <wsdl:part element="tns:getHistoryEventListByClientTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryEventCountByClientTime">
    <wsdl:part element="tns:getHistoryEventCountByClientTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActiveEventListByClientTime">
    <wsdl:part element="tns:getActiveEventListByClientTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActiveEventListByServerTimeResponse">
    <wsdl:part element="tns:getActiveEventListByServerTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EventServiceDevImplPortType">
    <wsdl:operation name="getActiveEventCountByServerTime">
      <wsdl:input message="tns:getActiveEventCountByServerTime" name="getActiveEventCountByServerTime">
    </wsdl:input>
      <wsdl:output message="tns:getActiveEventCountByServerTimeResponse" name="getActiveEventCountByServerTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryEventCountByClientTime">
      <wsdl:input message="tns:getHistoryEventCountByClientTime" name="getHistoryEventCountByClientTime">
    </wsdl:input>
      <wsdl:output message="tns:getHistoryEventCountByClientTimeResponse" name="getHistoryEventCountByClientTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveEventListByClientTime">
      <wsdl:input message="tns:getActiveEventListByClientTime" name="getActiveEventListByClientTime">
    </wsdl:input>
      <wsdl:output message="tns:getActiveEventListByClientTimeResponse" name="getActiveEventListByClientTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryEventListByServerTime">
      <wsdl:input message="tns:getHistoryEventListByServerTime" name="getHistoryEventListByServerTime">
    </wsdl:input>
      <wsdl:output message="tns:getHistoryEventListByServerTimeResponse" name="getHistoryEventListByServerTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveEventListByServerTime">
      <wsdl:input message="tns:getActiveEventListByServerTime" name="getActiveEventListByServerTime">
    </wsdl:input>
      <wsdl:output message="tns:getActiveEventListByServerTimeResponse" name="getActiveEventListByServerTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveEventCountByClientTime">
      <wsdl:input message="tns:getActiveEventCountByClientTime" name="getActiveEventCountByClientTime">
    </wsdl:input>
      <wsdl:output message="tns:getActiveEventCountByClientTimeResponse" name="getActiveEventCountByClientTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryRules">
      <wsdl:input message="tns:queryRules" name="queryRules">
    </wsdl:input>
      <wsdl:output message="tns:queryRulesResponse" name="queryRulesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryEventListByClientTime">
      <wsdl:input message="tns:getHistoryEventListByClientTime" name="getHistoryEventListByClientTime">
    </wsdl:input>
      <wsdl:output message="tns:getHistoryEventListByClientTimeResponse" name="getHistoryEventListByClientTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryEventCountByServerTime">
      <wsdl:input message="tns:getHistoryEventCountByServerTime" name="getHistoryEventCountByServerTime">
    </wsdl:input>
      <wsdl:output message="tns:getHistoryEventCountByServerTimeResponse" name="getHistoryEventCountByServerTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send">
      <wsdl:input message="tns:send" name="send">
    </wsdl:input>
      <wsdl:output message="tns:sendResponse" name="sendResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventServiceDevImplSoapBinding" type="tns:EventServiceDevImplPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getActiveEventCountByServerTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getActiveEventCountByServerTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActiveEventCountByServerTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryEventCountByClientTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHistoryEventCountByClientTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHistoryEventCountByClientTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveEventListByClientTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getActiveEventListByClientTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActiveEventListByClientTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveEventListByServerTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getActiveEventListByServerTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActiveEventListByServerTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryEventListByServerTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHistoryEventListByServerTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHistoryEventListByServerTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveEventCountByClientTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getActiveEventCountByClientTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActiveEventCountByClientTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryRules">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryRules">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryRulesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryEventCountByServerTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHistoryEventCountByServerTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHistoryEventCountByServerTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryEventListByClientTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHistoryEventListByClientTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHistoryEventListByClientTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="send">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventServiceDevImpl">
    <wsdl:port binding="tns:EventServiceDevImplSoapBinding" name="EventServiceDevImplPort">
      <soap:address location="http://172.30.251.75/pureportal/webservices/event"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>