monitor-server/src/main/java/cn/com/yangshj/monitor/webservice/system/system.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="SystemServiceDevImpl" targetNamespace="http://impl.system.dev.bsm.mocha.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.system.dev.bsm.mocha.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://obj.dev.bsm.mocha.com" xmlns:ns0="http://impl.system.dev.bsm.mocha.com/" xmlns:tns="http://obj.dev.bsm.mocha.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://impl.system.dev.bsm.mocha.com/"/>
<xsd:complexType name="SystemSendEmailObj">
<xsd:sequence>
<xsd:element minOccurs="0" name="loginResult" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="sendFlag" nillable="true" type="ns0:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.system.dev.bsm.mocha.com/" xmlns:ns0="http://obj.dev.bsm.mocha.com" xmlns:tns="http://impl.system.dev.bsm.mocha.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://obj.dev.bsm.mocha.com"/>
<xsd:complexType name="ArrayOfString">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendEmail" type="tns:sendEmail"/>
<xsd:complexType name="sendEmail">
<xsd:sequence>
<xsd:element minOccurs="0" name="token" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="title" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" nillable="true" type="xsd:string"/>
<xsd:element name="emailAddress" nillable="true" type="tns:ArrayOfString"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="sendEmailResponse" type="tns:sendEmailResponse"/>
<xsd:complexType name="sendEmailResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:SystemSendEmailObj"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="sendEmail">
    <wsdl:part element="tns:sendEmail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendEmailResponse">
    <wsdl:part element="tns:sendEmailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SystemServiceDevImplPortType">
    <wsdl:operation name="sendEmail">
      <wsdl:input message="tns:sendEmail" name="sendEmail">
    </wsdl:input>
      <wsdl:output message="tns:sendEmailResponse" name="sendEmailResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemServiceDevImplSoapBinding" type="tns:SystemServiceDevImplPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemServiceDevImpl">
    <wsdl:port binding="tns:SystemServiceDevImplSoapBinding" name="SystemServiceDevImplPort">
      <soap:address location="http://172.30.251.75/pureportal/webservices/system"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>