com/nc_service.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:businessException="http://pub.vo.nc/BusinessException" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:ns0="http://ts.itf.nc/TsCostCenter" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" jaxb:version="2.0" targetNamespace="http://ts.itf.nc/TsCostCenter">
    <wsdl:types>
        <xsd:schema xmlns:ns="http://ts.itf.nc/TsCostCenter" attributeFormDefault="unqualified" elementFormDefault="unqualified" jaxb:version="2.0" targetNamespace="http://ts.itf.nc/TsCostCenter">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:schemaBindings>
                        <jaxb:package name="nc.itf.ts"/>
                    </jaxb:schemaBindings>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:import namespace="http://pub.vo.nc/BusinessException" schemaLocation="http://172.18.1.91:8088/uapws/service/TsCostCenter?xsd=/nc/vo/pub/BusinessException.xsd"/>
            <xsd:element name="tsCostCenter">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="string" nillable="true" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="string1" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tsCostCenterResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="tsCostCenterResponse">
        <wsdl:part element="ns0:tsCostCenterResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="tsCostCenterRequest">
        <wsdl:part element="ns0:tsCostCenter" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="BusinessException">
        <wsdl:part element="businessException:BusinessException" name="BusinessException"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="TsCostCenterPortType">
        <wsdl:operation name="tsCostCenter">
            <wsdl:input message="ns0:tsCostCenterRequest" wsaw:Action="urn:tsCostCenter"> </wsdl:input>
            <wsdl:output message="ns0:tsCostCenterResponse" wsaw:Action="urn:tsCostCenterResponse"> </wsdl:output>
            <wsdl:fault message="ns0:BusinessException" name="BusinessException"> </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TsCostCenterSOAP11Binding" type="ns0:TsCostCenterPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="tsCostCenter">
            <soap:operation soapAction="urn:tsCostCenter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TsCostCenter">
        <wsdl:port binding="ns0:TsCostCenterSOAP11Binding" name="TsCostCenterSOAP11port_http">
            <soap:address location="http://172.18.1.91:8088/uapws/service/TsCostCenter"/>
        </wsdl:port>
    </wsdl:service>
    <jaxws:bindings>
        <jaxws:package name="nc.itf.ts"/>
    </jaxws:bindings>
</wsdl:definitions>